%p Renew your books and check the status of your requests.
.card
  .card-body.card-well
    .row
      .col-md-6
        %h2 Cornell students, faculty, and staff
        =link_to('Log in with your NetID', '/myaccount', {:class => 'btn btn-danger btn-lg'})
      .col-md-5.guest-id
        %h3 Guest borrowers
        %p Library Card, Privilege Card and SUNY Card holders
        =link_to('Login with your GuestID*', 'https://catalog.library.cornell.edu/cgi-bin/Pwebrecon.cgi?DB=local&amp;PAGE=First', {:class => 'btn btn-danger'})
        .guest-id-info
          %p
            %small
              *Click the "Patron Info" link after logging in.
          %p
            For questions about obtaining a GuestID, email
            = succeed "." do
              %a{:href => "mailto:libpublicservices@cornell.edu"} libpublicservices@cornell.edu

%h3.mt-4 Interlibrary Loan
=link_to('Renew Interlibrary Loan items','https://cornell.hosts.atlas-sys.com/nonetid/home.html')

%h3.mt-4 Columbia University Borrowing Privileges
%p As a current student, staff or faculty member of Cornell University, you have the option to get a library borrowing card from Columbia University. This allows you to check out books from their collections when you visit Columbia.
%ul
  %li
    =link_to('More information about Columbia Library Borrowing Privileges', 'https://www.library.cornell.edu/services/borrow/2cul')
  %li
    =link_to('Apply for a Columbia Library card', 'https://www.library.cornell.edu/2cul-columbia-library-patron-borrowing-application')

%h3 Need assistance?
%p 
  Email the 
  =link_to('Library Public Services office', 'mailto:libpublicservices@cornell.edu')
  or 
  =link_to('Mann Library Circulation', 'mailto:mann_circ@cornell.edu')
  \.