.card
  .card-body.card-well
    %h2 Log in
    %p Renew your books and check the status of your requests.
    =link_to('Log in with your NetID or GuestID', '/myaccount', {:class => 'btn btn-danger btn-lg'})

%h3.mt-5 Need assistance?
%p 
  Email your 
  =link_to('library', 'https://library.cornell.edu/libraries')
  or 
  =link_to('libpublicservices@cornell.edu', 'mailto:libpublicservices@cornell.edu')
  \.

%h3 Library fines
%p
  The fine for recalled items is $3.00/day for every patron category. If unreturned, high cost and high demand items (such as laptops, equipment, reserves items) will be billed for replacement cost after two days. Regular items (such as books from the general circulating collection) will be billed for replacement cost after 27 days. When the billed amount reaches $300 for Cornell patrons (or $150 for others), the borrower’s access to the Library will be blocked until the item is returned.