.card
  .card-body.card-well
    %h2 Log in
    %p Renew your books and check the status of your requests.
    =link_to('Log in with your NetID or GuestID', '/myaccount', {:class => 'btn btn-danger btn-lg'})

%h3.mt-5 Need assistance?
%p 
  Email your 
  =link_to('library', 'https://library.cornell.edu/libraries')
  or 
  =link_to('libpublicservices@cornell.edu', 'mailto:libpublicservices@cornell.edu') + '.'

%p
  Visit the library website for 
  = link_to('fine information', 'https://www.library.cornell.edu/collections/borrow-renew-return/policies/#fines') + '.'