/* #myaccount-table a {
  color: black;
  text-decoration: underline;
}
#myaccount-table tr:nth-child(odd) {
  background: #CCC;
}

body {
  background-color: green;
} */

.myacct-col-5 {
	width: 5%;
}
.myacct-col-10 {
	width: 10%;
}
.myacct-col-50 {
	width: 50%;
}
.myacct-col-20 {
	width: 20%;
}