/* #myaccount-table a {
  color: black;
  text-decoration: underline;
}
#myaccount-table tr:nth-child(odd) {
  background: #CCC;
}

body {
  background-color: green;
} */

/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
#request-loading-spinner, #renew-loading-spinner {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 2em;
	height: 2em;
}